/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  /* Footer */
  .footer__title {
    text-align: center;
  }

  .footer__item {
    text-align: center;
  }
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #ff1cf7;
  --ifm-color-primary-dark: #ff00f6;
  --ifm-color-primary-darker: #f100e8;
  --ifm-color-primary-darkest: #c600bf;
  --ifm-color-primary-light: #ff38f8;
  --ifm-color-primary-lighter: #ff46f8;
  --ifm-color-primary-lightest: #ff71fa;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

[data-theme="light"] {
  --ifm-color-primary: #ff1cf7;
  --ifm-color-primary-dark: #ff00f6;
  --ifm-color-primary-darker: #f100e8;
  --ifm-color-primary-darkest: #c600bf;
  --ifm-color-primary-light: #ff38f8;
  --ifm-color-primary-lighter: #ff46f8;
  --ifm-color-primary-lightest: #ff71fa;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link::before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

[data-theme="dark"] .header-github-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.header-discord-link:hover {
  opacity: 0.6;
}

.header-discord-link::before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='22 15 55 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M62.4748 31.3352C67.87 39.3238 70.5344 48.3347 69.5384 58.7084C69.5342 58.7523 69.5115 58.7926 69.4757 58.819C65.39 61.8403 61.4316 63.6739 57.5287 64.8898C57.4983 64.8991 57.4657 64.8986 57.4357 64.8884C57.4056 64.8781 57.3794 64.8587 57.3609 64.8327C56.4592 63.5692 55.6399 62.2372 54.9221 60.8384C54.8809 60.756 54.9186 60.6568 55.0033 60.6243C56.3045 60.1306 57.5418 59.5389 58.7319 58.8383C58.8256 58.7829 58.8316 58.6476 58.745 58.5827C58.4924 58.3939 58.2422 58.1954 58.0028 57.9969C57.958 57.9603 57.8977 57.953 57.8469 57.9777C50.1205 61.5709 41.6566 61.5709 33.8389 57.9777C33.7881 57.9549 33.7278 57.9627 33.6842 57.9988C33.4454 58.1972 33.1946 58.3939 32.9444 58.5827C32.8578 58.6476 32.8649 58.7829 32.9593 58.8383C34.1494 59.5256 35.3867 60.1306 36.686 60.6267C36.7702 60.6592 36.8102 60.756 36.7684 60.8384C36.0662 62.239 35.2469 63.571 34.3285 64.8345C34.2885 64.8856 34.2228 64.9091 34.1607 64.8898C30.2763 63.6739 26.3179 61.8403 22.2322 58.819C22.1982 58.7926 22.1737 58.7505 22.1701 58.7066C21.3377 49.7335 23.0342 40.648 29.2271 31.3334C29.2421 31.3088 29.2648 31.2895 29.291 31.2781C32.3383 29.8697 35.6028 28.8335 39.0149 28.2418C39.077 28.2322 39.1391 28.261 39.1713 28.3164C39.5929 29.0681 40.0748 30.0321 40.4009 30.8199C43.9974 30.2666 47.6502 30.2666 51.322 30.8199C51.648 30.0489 52.1132 29.0681 52.533 28.3164C52.5479 28.2889 52.5711 28.2669 52.5992 28.2535C52.6273 28.2401 52.6589 28.236 52.6894 28.2418C56.1033 28.8353 59.3679 29.8715 62.4127 31.2781C62.4395 31.2895 62.4616 31.3088 62.4748 31.3352ZM42.2293 48.3961C42.2669 45.7434 40.3465 43.5484 37.9359 43.5484C35.5449 43.5484 33.643 45.7242 33.643 48.3961C33.643 51.0674 35.5825 53.2431 37.9359 53.2431C40.3274 53.2431 42.2293 51.0674 42.2293 48.3961ZM58.1025 48.3961C58.1401 45.7434 56.2197 43.5484 53.8097 43.5484C51.4181 43.5484 49.5162 45.7242 49.5162 48.3961C49.5162 51.0674 51.4557 53.2431 53.8097 53.2431C56.2197 53.2431 58.1025 51.0674 58.1025 48.3961Z'/%3E%3C/svg%3E")
    no-repeat;
}

[data-theme="dark"] .header-discord-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='22 15 55 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M62.4748 31.3352C67.87 39.3238 70.5344 48.3347 69.5384 58.7084C69.5342 58.7523 69.5115 58.7926 69.4757 58.819C65.39 61.8403 61.4316 63.6739 57.5287 64.8898C57.4983 64.8991 57.4657 64.8986 57.4357 64.8884C57.4056 64.8781 57.3794 64.8587 57.3609 64.8327C56.4592 63.5692 55.6399 62.2372 54.9221 60.8384C54.8809 60.756 54.9186 60.6568 55.0033 60.6243C56.3045 60.1306 57.5418 59.5389 58.7319 58.8383C58.8256 58.7829 58.8316 58.6476 58.745 58.5827C58.4924 58.3939 58.2422 58.1954 58.0028 57.9969C57.958 57.9603 57.8977 57.953 57.8469 57.9777C50.1205 61.5709 41.6566 61.5709 33.8389 57.9777C33.7881 57.9549 33.7278 57.9627 33.6842 57.9988C33.4454 58.1972 33.1946 58.3939 32.9444 58.5827C32.8578 58.6476 32.8649 58.7829 32.9593 58.8383C34.1494 59.5256 35.3867 60.1306 36.686 60.6267C36.7702 60.6592 36.8102 60.756 36.7684 60.8384C36.0662 62.239 35.2469 63.571 34.3285 64.8345C34.2885 64.8856 34.2228 64.9091 34.1607 64.8898C30.2763 63.6739 26.3179 61.8403 22.2322 58.819C22.1982 58.7926 22.1737 58.7505 22.1701 58.7066C21.3377 49.7335 23.0342 40.648 29.2271 31.3334C29.2421 31.3088 29.2648 31.2895 29.291 31.2781C32.3383 29.8697 35.6028 28.8335 39.0149 28.2418C39.077 28.2322 39.1391 28.261 39.1713 28.3164C39.5929 29.0681 40.0748 30.0321 40.4009 30.8199C43.9974 30.2666 47.6502 30.2666 51.322 30.8199C51.648 30.0489 52.1132 29.0681 52.533 28.3164C52.5479 28.2889 52.5711 28.2669 52.5992 28.2535C52.6273 28.2401 52.6589 28.236 52.6894 28.2418C56.1033 28.8353 59.3679 29.8715 62.4127 31.2781C62.4395 31.2895 62.4616 31.3088 62.4748 31.3352ZM42.2293 48.3961C42.2669 45.7434 40.3465 43.5484 37.9359 43.5484C35.5449 43.5484 33.643 45.7242 33.643 48.3961C33.643 51.0674 35.5825 53.2431 37.9359 53.2431C40.3274 53.2431 42.2293 51.0674 42.2293 48.3961ZM58.1025 48.3961C58.1401 45.7434 56.2197 43.5484 53.8097 43.5484C51.4181 43.5484 49.5162 45.7242 49.5162 48.3961C49.5162 51.0674 51.4557 53.2431 53.8097 53.2431C56.2197 53.2431 58.1025 51.0674 58.1025 48.3961Z'/%3E%3C/svg%3E")
    no-repeat;
}

/* Labels */

.label {
  display: inline-block;
  position: relative;
  font-size: 0.85rem;
  font-weight: 500;
  color: #fff;
  padding: 2px 12px;
  border-radius: 0 2px 2px 0;

  /* Label sharp end */
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: -12px;
    border-color: transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;
  }

  /* Label skeuomorphic hole */
  &:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background: #fff;
  }

  /* Basic label */
  &.basic {
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;

    &:before,
    &:after {
      display: none;
    }
  }

  /* Label variants */
  &.android {
    background: #a4c936;

    &:before {
      border-right-color: #a4c936;
    }
  }

  &.ios {
    background: #222;

    &:before {
      border-right-color: #222;
    }
  }

  &.tv {
    background: #6170af;

    &:before {
      border-right-color: #6170af;
    }
  }

  &.required {
    margin-left: 0;
    margin-right: 16px;
    color: #fa5035;
    border-color: #fa5035;
  }

  &.coming-soon {
    top: 0px;
    margin-left: 5px;
    margin-right: 5px;
    color: hsl(38, 95%, 59%);
    border-color: hsl(38, 95%, 59%);
    border-width: 1px;
    font-size: 0.5rem;
    font-weight: 500;
  }
}

html[data-theme="dark"] .label {
  color: var(--text);

  &:after {
    background: var(--ifm-background-color);
  }

  &.ios {
    background: #fff;

    &:before {
      border-right-color: #fff;
    }
  }

  &.required {
    color: #fa5035;
  }

  &.coming-soon {
    color: hsl(38, 95%, 59%);
  }
}

/* Label inside other tags */

h2 .label {
  top: -6px;
  margin-left: 12px;
  padding: 3px 12px;
}

h3 .label {
  top: -3px;
  margin-left: 22px;
  line-height: 20px;
}

td .label {
  padding: 0 8px 0 10px;
  font-size: 0.7rem;
  margin-left: 14px;

  &:before {
    left: -8px;
    border-width: 10px 8px 10px 0;
  }

  &:after {
    top: 8px;
  }

  &.required {
    margin-left: 8px;
    letter-spacing: 0.02rem;
    padding: 0 6px;
    border-width: 1px;
    margin-right: 0;
  }

  &.two-lines {
    margin-left: 0;
    margin-top: 5px;

    &.ios,
    &.android,
    &.tv {
      margin-left: 8px;
    }
  }
}

/* Label as dot in the right sidebar */

.table-of-contents .label {
  position: absolute;
  padding: 0;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  margin-left: 4px;
  margin-top: 7px;
  white-space: nowrap;
  overflow: hidden;
  color: transparent;
  float: initial;

  &.required {
    position: initial;
    margin-left: 0;
    margin-right: 6px;
    border-width: 3px;
    background: #fa5035;
  }

  /* Second dot shift */
  &:nth-child(3) {
    margin-left: 13px;
  }
}

.navbar {
  background-color: transparent;
  backdrop-filter: blur(10px);
  box-shadow: none;
  .navbar__inner {
    width: 92rem;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1300px) {
  #__docusaurus_skipToContent_fallback {
    width: 92rem;
    margin: 0 auto;
  }

  #__docusaurus_skipToContent_fallback aside {
    border-right: none;
  }
}

.table-of-contents__left-border {
  border-left: none;
}

[data-theme="dark"] {
  #__docusaurus {
    background: radial-gradient(ellipse at top, #08122d, #030712),
      radial-gradient(ellipse at bottom, #030712, #030712);
  }
  .table-of-contents li {
    color: var(--ifm-color-gray-600);
  }

  .theme-doc-markdown p,
  .theme-doc-markdown li {
    color: var(--ifm-color-gray-300);
  }
  .hero--primary {
    background-color: transparent;
    color: #ffffff;
  }
}

[data-theme="light"] {
  #__docusaurus {
    background: radial-gradient(ellipse at top, #eaf1f4, #ffffff),
      radial-gradient(ellipse at bottom, #ffffff, #ffffff);
  }
  .hero--primary {
    background-color: transparent;
    color: #030712;
  }
}

#__docusaurus_skipToContent_fallback .menu {
  padding: 16px 16px 0px 0px;
}

[data-theme="light"] .DocSearch {
  --docsearch-primary-color: var(--ifm-color-primary);
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}

[data-theme="dark"] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
}

.footer {
  &.footer--dark {
    --ifm-footer-background-color: var(--deepdark);
  }

  .container {
    max-width: 900px;
  }

  .footer__link-item {
    color: #a6a7a9;
  }

  .text--center {
    color: #858a96;
    font-size: 13px;
  }

  .footer__item {
    color: #858a96;
    font-size: 14px;
    padding: 8px 0 0;
    min-height: 30px;

    a:hover svg {
      color: var(--brand);
    }
  }

  .footer__title {
    color: #858a96;
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 8px;
    text-transform: uppercase;
  }

  .footer__col {
    margin: 4px 0 12px 2%;
    padding-left: 0 !important;
  }

  .footer__link-item {
    line-height: 1.44;
    display: inline-block;
  }

  .footer__links {
    margin-bottom: 8px;
  }

  .footer__logo {
    height: 54px;
    max-width: 100%;
  }
}

@media only screen and (max-width: 996px) {
  .footer {
    .footer__col {
      text-align: center;
      flex-basis: 48% !important;
      max-width: 48% !important;
      margin-bottom: 28px;
    }

    .footer__links {
      padding: 0 20px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .footer {
    .footer__col {
      flex-basis: 99% !important;
      max-width: 99% !important;
      margin-bottom: 24px;
      text-align: center;
    }
  }
}
