#Linters
black
pylint

# AIConfig
python-aiconfig

#Hugging Face Libraries - Remote Infernce Client 
huggingface-hub>=0.20.3

#Hugging Face Libraries - Local Inference Tranformers & Diffusors
accelerate # Used to help speed up image generation
diffusers # Used for image generation
sacremoses # Used for tokenizer, detokenizer, pipelines
scipy # array -> wav file, text-speech. torchaudio.save seems broken.
sentencepiece # Used for text translation
torch
torchvision
torchaudio
transformers # Used for text generation

#Other
asyncio
