# Editor server
black
flake8
flask-cors
flask[async]
frozendict
google-generativeai
huggingface_hub
hypothesis==6.91.0
lastmile-utils==0.0.21
mock
nest_asyncio
nltk
openai >= 1.0.0, < 1.5
prompt_toolkit
pybars3
pydantic>=2.1
pylint
pytest
pytest-asyncio
python-dotenv
pyyaml
requests
result
ruamel.yaml