requests==2.30.0
black
flake8
pylint
pytest
pydantic>=2.1
pybars3
google-generativeai
openai>=1.0.0
python-dotenv
huggingface_hub
result
nest_asyncio
prompt_toolkit
mock
pytest-asyncio
lastmile_utils==0.0.3