#Linters
black
pylint

# AIConfig
python-aiconfig

#Hugging Face Libraries
accelerate
diffusers # Used for image generation
torch
torchvision
torchaudio
transformers # Used for text generation

#Other
asyncio