name: Typescript Pull request testing
on:
  pull_request:
    branches: [main]
    paths:
      - "typescript/**/*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: "0"
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: Install dependencies
        run: |
          cd typescript && yarn install
      - name: Lint
        run: |
          cd typescript && yarn lint
      - name: Compile
        run: |
          cd typescript && yarn compile
      - name: Test
        run: |
          cd typescript && yarn test
